* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up {
  position: fixed;
  top: 20px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  opacity: 0;
  display: block;
  transition: opacity 200ms ease-in-out;
}

.pop-up::after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid lightgray;
  position: absolute;
  top: 40px;
  left: calc(50% - 10px);
  z-index: 10;
}

canvas {
  border: 1px solid #dadada;
  border-radius: 10px;
}
